* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 18% 64% 18%;
  grid-template-rows: 35% 30% 35%;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15% 63% 15%;
  grid-column: 2 / span 1;
  grid-row: 2;
  grid-gap: 10px;
}

.box {
  height: 100%;
  border-radius: 10px;
  font-size: 20px;
  align-items: center;
}

.head {
  background-color: #ff6347;
  grid-column: 1 / span 4;
  align-items: center;
  display: flex;
}

.sidebar_1 {
  background-color: #1e90ff;
  grid-column: 1 / span 1;
}

.content {
  background-color: #32cd32;
  grid-column: 2 / span 2;
}

.sidebar_2 {
  background-color: #8a2be2;
  grid-column: 4 / span 1;
}

.footer {
  background-color: #8a2be2;
  grid-column: 1 / span 4;
  align-items: center;
  display: flex;
}

/*tablet*/
@media (max-width: 820px) {
  body {
    grid-template-columns: 18% 64% 18%;
    grid-template-rows: 20% 60% 20%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% 50% 15% 15%;
  }

  .head {
    grid-column: 1 / span 4;
  }

  .sidebar_1 {
    grid-column: 1 / span 1;
  }

  .content {
    grid-column: 2 / span 3;
  }

  .sidebar_2 {
    grid-column: 1 / span 4;
    display: flex;
  }

  .footer {
    grid-column: 1 / span 4;
  }
}

/*center*/
@media (max-width: 412px) {
  body {
    grid-template-rows: 18% 64% 18%;
  }
  .grid-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
  }

  .head {
    grid-column: 1 / span 4;
  }

  .sidebar_1 {
    grid-column: 1 / span 4;
    display: flex;
  }

  .content {
    grid-column: 1 / span 4;
  }

  .sidebar_2 {
    grid-column: 1 / span 4;
    display: flex;
  }

  .footer {
    grid-column: 1 / span 4;
  }
}
