.red-border {
    border: 2px solid red;
    font-size: 20px;
    border-radius: 10px;
}
.bold-italic {
    font-weight: bold;
    font-style: italic;
}

.shadow-black {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: black;
    color: white;
    font-family: monospace;
}