* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 18% 64% 18%;
  grid-template-rows: 22% 56% 22%;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 13% 13% 11% 11% 11% 11% 11% 11%;
  grid-template-rows: 25% 14% 14% 14% 25%;
  grid-column: 2 / span 1;
  grid-row: 2;
  grid-gap: 10px;
}

.box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

._1_ {
  background-image: url("./img/1.jpeg");
  grid-column: 1 / span 2;
}

._2_ {
  background-image: url("./img/2.jpeg");
  grid-column: 3 / span 3;
  grid-row: 1 / span 2;
}

._3_ {
  background-image: url("./img/3.jpeg");
  grid-column: 6 / span 1;
}

._4_ {
  background-image: url("./img/4.jpeg");
  grid-column: 7 / span 2;
}

/*new row*/
._5_ {
  background-image: url("./img/5.jpeg");
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
}

._6_ {
  background-image: url("./img/6.jpeg");
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

._7_ {
  background-image: url("./img/7.jpeg");
  grid-column: 5 / span 1;
  grid-row: 3 / span 1;
}

._8_ {
  background-image: url("./img/8.jpeg");
  grid-column: 6 / span 2;
  grid-row: 2 / span 2;
}

._9_ {
  background-image: url("./img/9.jpeg");
  grid-column: 8 / span 1;
  grid-row: 2 / span 3;
}

._10_ {
  background-image: url("./img/10.jpeg");
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}

._11_ {
  background-image: url("./img/11.jpeg");
  grid-column: 2 / span 2;
  grid-row: 5 / span 1;
}

._12_ {
  background-image: url("./img/12.jpeg");
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
}
._13_ {
  background-image: url("./img/13.jpeg");
  grid-column: 5 / span 3;
  grid-row: 4 / span 2;
}

._14_ {
  background-image: url("./img/14.jpeg");
  grid-column: 8 / span 1;
  grid-row: 5 / span 1;
}
