body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.box {
  width: 350px;
  height: 350px;
  background-color: #3498db;
  position: relative;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: chartreuse;
  transform: translateX(100%);
  transition: transform 1s;
}

.box:hover::before {
  transform: translateX(0);
}
