body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9494fc;
    color: #2d2b35;
}

footer {
    background-color: #2f3145;
    padding: 10px;
    text-align: center;
}

nav {
    position: fixed; /* Fixes the nav at the top of the page */
    top: 0; /* Positions it at the top */
    left: 0; /* Aligns it to the left */
    width: 100%;
    background-color: #2f3145;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
}

nav a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4,p,label {
    color: #ffffff;
    font-style: italic;
}

header,section {
    padding: 20px;
    text-align: center;
    margin: 90px auto;
    width: 1000px;
    background-color: #2f3145;
    border-radius: 15px;
}

section.home {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Space between text and image */
}

section.home img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px; /* Add some margin to the left of the image */
}

section.home h2, section.home p {
    margin: 0;
    padding-right: 20px; /* Add some padding to the right of the text */
    flex: 1; /* Allow text to take available space */
}

section.Recipes .Recipe {
    background-color: #6969bd; /* Slightly lighter dark color */
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
    height: 300px;
    vertical-align: top; /* Align the cards to the top */
}

section.Recipes .Recipe img {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Make the image round */
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.Recipes p {
    font-size: 15px;
    color: #ffffff;
}

.button {
    margin-left: -15px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 10px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: grid;
    height: 15px;
    width: 260px;
    border-radius: 10px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
    margin-top: 88px;
}

.button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.contact {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Space between text and image */
}

.contact .m {
    margin-left: 190px;
    flex: 1; /* Allow text to take available space */
}

.contact .n{
    margin-right: 190px;
}

.contact .n textarea {
    width: 100%; /* Adjust this width as necessary */
    max-width: 200px; /* Optional: to prevent textarea from becoming too wide */
    height: 100px; /* Set the height of the textarea */
    border-radius: 10px;
}